<!DOCTYPE html>
<html>

<title>Allocan</title>

<h1>Welcome to Allocan.</h1>
<p>
	This is the home page.
</p>

<% if logged_in? %>
	Logged in as: <%= current_user.name %>
	<h2><%= link_to "Me", current_user %></h2>
	<h2><%= link_to "Log out", logout_path, method: :delete %></h2>
<% else %>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %><br>
	Already have an account? 
	<%= link_to "Log in", login_path %>
<% end %>

<% _security_info = Array.new %>

<% _AUM = 0.0 %>
<% _OI = 0.0 %>
<% User.all.each do |user| %>
	<% _AUM += user.balanceAUD %>
	<% _OI += user.initial_investment %>
	<% user.portfolios.each do |portfolio| %>
		<% _AUM += portfolio.cashAUD %>
		<% portfolio.assets.each do |asset| %>
			<% _AUM += asset.volume * Security.find(asset.sec).price %>
		<% end %>
	<% end %>
<% end %>

<h2>Total Assets Under Management: 
	<%= number_to_currency(_AUM) %>
</h2>
<h2>Original Investments:
	<%= number_to_currency(_OI) %>
</h2>
<h2>Net profits delivered:
	<%= number_to_currency(_AUM-_OI) %>
</h2>


<% if logged_in? && current_user.admin %>
	
<% end %>

</html>
