<!-- SHOWS A PORTFOLIO -->
<% if logged_in? && @portfolio.user.id == current_user.id %>
	<h1>Portfolio: <%= @portfolio.title %></h1>

	<div class="row">

		<div class="col-sm-8">
			<canvas id="portfolioHistory" ></canvas>
			
		</div>
		<div class="col-sm-4">
			<%= react_component('PortfolioHist', {id: @portfolio.id}) %>
		</div>
	</div>
	


	<%= link_to "Back to your page", current_user %>

	<h2>Portfolio Composition</h2>

	<div class="row">
		<div class="col-sm-9">
			<canvas id="portfolioComposition" height="100px"></canvas>
		</div>
		<div class="col-sm-3"></div>
	</div>


	<%= react_component('PortfolioView', {id: @portfolio.id}) %>





	
	<% @portfolio.assets.each do |asset| %>
	<%= asset.volume * Security.find(asset.sec).price %>
	<% end %>




	<h1>Build your portfolio</h1>
	<div class="row">
		<div class="col-sm-12">
			<%= react_component('PortfolioProposal', {id: @portfolio.id}) %>
		</div>
	</div>
	<div class="invisible">
		<div class="row">
			<div class="col-sm-4">
			<canvas id="portfolioProposal" height="10px"></canvas>
			</div><div class="col-sm-4">
			<canvas id="portfolioProposal2" height="10px"></canvas>
			</div><div class="col-sm-4">
			<canvas id="riskReturn" height="10px"></canvas>
			</div>
		</div>
	</div>


<% else %>
	<h1>Code 401 - unauthorised access</h1>
	<p>Sorry, but you are not authorised to see this page</p>
<% end %>