<!-- SHOWS A USER -->
<% if logged_in? && current_user?(@user) && current_user.activated || current_user.admin %>
	
	<h1 class="myHeader">My Account</h1>
	<div class="row">
		<div class="col-sm-7">
			<canvas id="userHistory" ></canvas>
		</div>
		<div class="col-sm-3">
			<%= react_component('AccountViewTop', {id: @user.id}) %>
		</div>
		<div class="col-sm-1">
			<!-- need to link to messages -->
			<%= link_to(root_path) do %>
				<div class="smallClickBox">
					<span id="accountMessagesLogo" class="glyphicon glyphicon-envelope"></span>
					<h5>Messages</h5>
				</div>
			<% end %>

			<!-- need to link to external transactions -->
			<%= link_to(root_path) do %>
				<div class="smallClickBox">
					<span id="accountMessagesLogo" class="glyphicon glyphicon-transfer"></span>
					<h5>Transfers</h5>
				</div>
			<% end %>
		</div>
		<div class="col-sm-1"></div>
	</div>

	<h2 class="myHeaderBlue">My Portfolios</h2>
	<div class="row">
		<div class="col-sm-7">
			<% @user.portfolios.all.each do |portfolio| %>
				<% _pf_value = portfolio_value(portfolio) %>
				<%= link_to(portfolio) do %>
				<div class="accountPortfolioList">
					<div class="row">
						<div class="col-sm-6">
							<h3>
								<%= portfolio.title %>
							</h3>
							<table>
								<tr>
									<td>
										Portfolio cash
									</td>
									<td><b>
										<%= number_to_currency(portfolio.cashAUD) %>
									</b></td>
								</tr>
								<tr>
									<td>
										Security value
									</td>
									<td><b>

			<%= number_to_currency(_pf_value - portfolio.cashAUD) %>

									</b></td>
								</tr>
							</table>
						</div>
						<div class="col-sm-6">
							<h3>
								<%= number_to_currency(_pf_value) %>
							</h3>
							<table>
								<tr>
									<td>
										Last close
									</td>
									

			<% _last_close_change = _pf_value - portfolio_old_value(portfolio, 1) %>

									<td

				<% if _last_close_change > 0 %>
					class="changeUp"
				<% else %>
					class="changeDown"
				<% end %>

									><b>

			<% if _last_close_change > 0 %>

			<span class="glyphicon glyphicon-arrow-up"></span>

			<% else %>

			<span class="glyphicon glyphicon-arrow-down"></span>

				<% _last_close_change *= -1 %>

			<% end %>

			<%= number_to_currency(_last_close_change) %>

			<%= ' '+((100.0*(_last_close_change/(_pf_value - _last_close_change))).round(2)).to_s + '%' %>

									</b></td>
								</tr>
								<tr>
									<td>
										Last week
									</td>

			<% _last_close_change = _pf_value - portfolio_old_value(portfolio, 7) %>

									<td

				<% if _last_close_change > 0 %>
					class="changeUp"
				<% else %>
					class="changeDown"
				<% end %>

									><b>
			

			<% if _last_close_change > 0 %>

			<span class="glyphicon glyphicon-arrow-up"></span>

			<% else %>

			<span class="glyphicon glyphicon-arrow-down"></span>

				<% _last_close_change *= -1 %>

			<% end %>

			<%= number_to_currency(_last_close_change) %>

			<%= ' '+((100.0*(_last_close_change/(_pf_value - _last_close_change))).round(2)).to_s + '%' %>

									</b></td>
								</tr>
							</table>
						</div>
						
					</div>

				</div>
				<% end %>
				
			<% end %>
			<%= link_to('/portfolios/new') do %>
			<!-- new_portfolios_path -->
				<div class="accountPortfolioList">
					<h3>
						<span class="glyphicon glyphicon-plus"></span>
						Add new portfolio
					</h3>
				</div>
			<% end %>
		</div>
		<% portfolio_list = [] %>
		<% portfolio_cash_list = [] %>
		<% @user.portfolios.each do |portfolio| %>
		<% portfolio_list.push(portfolio.title) %>
		<% portfolio_cash_list.push(portfolio.cashAUD) %>
		<% end %>
		<%= react_component('UserCashTransfer', {
			id: @user.id, 
			portfolioList: portfolio_list, 
			accountCash: @user.balanceAUD, 
			portfolioCashList: portfolio_cash_list }) %>
	</div>

<% elsif logged_in? && current_user?(@user) %>
	Your account is not yet activated. Please see your email account at: 
	<%= @user.email %>
<% else %>
	class3
<% end %>

<!--
<h3>Welcome, <%= (@user.name.split)[0] %>.</h3>
	<h2>Your position</h2>
	Your balance is: <%= number_to_currency(@user.balanceAUD ) %><br><br>
	Your initial investment is: <%= number_to_currency(@user.initial_investment) %><br><br>

	<% $cash = 0.00 %>
	<% @user.portfolios.each do |portfolio| %>
		<% $cash += portfolio.cashAUD %>
	<% end %>

	Your portfolio cash is: <%= number_to_currency($cash) %><br><br>

	<% $value = 0.00 %>
	<% @user.portfolios.each do |portfolio| %>
		<% portfolio.assets.each do |asset| %>
			<% $value += Security.find(asset.sec).price * asset.volume %>
		<% end %>
	<% end %>
	The value of your portfolio assets is: <%= number_to_currency($value) %><br><br>
	<h3><b>Your total value is: <%= number_to_currency($value + $cash + @user.balanceAUD) %></b></h3>
	<% $return = ((($cash + $value + @user.balanceAUD)/@user.initial_investment-1)*100) %>
	Your return so far is: <%= $return.round(2) %>%<br>

	<% $time = (DateTime.now.in_time_zone - @user.created_at)/(365*24*60*60) %>

	<br>

	<h2>Your details</h2>

	Your email is: <%= @user.email %><br>
	Created at: <%= @user.created_at %> <br>
	Updated at: <%= @user.updated_at %>.<br>
	Go to home page: <%= link_to "Home", root_path %><br>
	You have this many portfolios: <%= @user.portfolios.count %><br>
	Change details: <%= link_to "Settings", edit_user_path(current_user) %><br><br>

	<h2>Transfer money to your portfolios</h2>
	<%= form_for(:cashTrans) do |f| %>
		Select the portfolio to transfer from/to:
		<select name="cashTrans[portfolio]">
			<option value="">Please select a portfolio.</option>
			<% @user.portfolios.each do |portfolio| %>
				<option value="<%= portfolio.id %>"><%= portfolio.title %></option>
			<% end %>
		</select><br>
		<%= f.label :value, "Value of transfer: $" %>
		<%= f.text_field :value %><br>
		<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>

	<h2>Your portfolios</h2>
	<% $value = 0.0 %>
	<% @user.portfolios.each do |portfolio| %>
		<b><h3><%= link_to portfolio.title, portfolio_path(portfolio) %></h3></b>
		<% portfolio.assets.each do |asset| %>
			<% $value += Security.find(asset.sec).price * asset.volume %>
		<% end %>
		<% $value += portfolio.cashAUD %>
		The total value of this portfolio is: <b><%= number_to_currency($value) %></b>
		<% $value = 0.0 %>
		<br><br><br>
	<% end %>
	<% if current_user.admin %>
		<br>You're currently logged in as admin.
	<% end %>
	<br><%= link_to "Create a new portfolio", new_portfolio_path %></b>
	<br><br>
-->